@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700&display=swap');
@import 'normalize';
@import 'mixins';

* {
    box-sizing: border-box;
}

$brand-color: #5474fd;

html {
    height: 100%;
    font-size: 10px;
    padding: 15px;
    background-color: #999;
}

body {
    min-height: 100%;
    font-size: 2rem;
    color: #fff;
    font-family: 'Josefin Sans' ,sans-serif;
    font-size: 1.6rem;
    line-height: 1.8em;
}

header{
    background-color: $brand-color;
    height: 100vh;
    font-size: 0;
    position: relative;
    display: flex;
    background-image: url(/img/bgheader.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 96%;
}

.title {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 25% 25px 1%;
    letter-spacing: 5px;
}

.subtitle{
    display: inline-block;
    width: 100%;
    padding: 1% 25px;
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 7px;
}

.forms {
    width: 55%;
    align-items: center;
    background: #fff;
    padding: 1px;
    margin: 0 auto;
    height: 60px;

    &__input, &__button, &__icon{
        background: transparent;
        font-size: 1.6rem;
        color: #FFF;
        
    }
    &__input{
        width: 100%;
        border: 5px solid #Fff;
        height: 58px;
        padding-left: 15px;
        width: 80%;
        color: $brand-color;
        & {
            @include hover {
                opacity: .9;
                border-color: $brand-color;}
            }
        &::placeholder{
            text-align: center;
            color: #a2a2a2;
        }
    }

    &__button{
        border: 2px solid transparent;
        margin: 0;
        height: 58px;
        width: 10%;
        cursor: pointer;
        z-index: 2;
        background-color: $brand-color;
       
    }
    &__icon{
        font-size: 3.2rem;
        height: 100%;
        background-color: $brand-color;
        
    }
}
.scrool{
    display: inline-block;
    margin: 110px auto;
    width: 100%;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}

.nav{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $brand-color;
    font-size: 1.4rem;
    text-align: right;
    & .container{
        justify-content: space-around;
        display: flex;
        
    }
    
    &__title {
        margin: 0 0 0 5%  ;
        font-weight: 700;
        font-size: 2.4rem;
        padding: 20px 20% 20px 20px ;
        float: left;
        
    }
    
    &__link{
        height: 80px;
        vertical-align: middle;
        height: 100%;
        font-family: 'Aleo' ,sans-serif;
        text-transform: uppercase;
        padding: 20px;
    }
}

main{
    background-color: #333;
    height: 100vh;
    padding: 120px 0 0 0;
    
}
.main {
    background-image: url(/img/bgmain.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    & .container{
        display: flex;
        justify-content: space-around;
    }
    &__text{
        width: 50%;
        padding: 80px 10px 10px;
        
    }
    &__title{
        font-size: 3.6rem;
        font-family: "Aleo", sans-serif;
        
    }
    
    &__subtitle{
        max-height: 280px;
        overflow: hidden;
        font-size: 1.6rem;
    }

    &__btn{
        display: inline-block;
        text-align: center;
        padding: 15px;
        min-width: 220px;
        min-height: 60px;
        background-color: $brand-color;
        text-decoration: none;
        color: #fff;
        font-family: 'Aleo',sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        border: 3px solid transparent;
    }
    
    &__imgs{
        padding: 20px;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    &__img{
        padding: 10px 0;        
        align-self: flex-start;
        &:last-child{
            align-self: flex-end;
        }
    }
        
    
 
    &__end{
        max-width: 1000px;
        margin: 0 auto;
        padding: 4% 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;    
        background-image: url(/img/main-endM.png);
        background-position: 46% 20px;
        background-repeat: no-repeat;
        background-size: 60%;
        
    }
    &__endblock{
        display: flex;
        flex-direction: column;
        
    }
    
    &__endimg{
        align-self: center;
        background-color: #333;
        // border-radius: 50%; кусок 3й картинки обрезает
        padding: 5px;
       height: 70px;
        align-items: center;
        
    }
    &__endtext{
        font-family: 'Aleo', sans-serif;
        font-size: 3.6rem;
        padding: 30px;
    }
}

.about{
    
    min-height: 50vh;
    max-height: 500px;
    display: flex;
    

    background-image: url(/img/sectionbg1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    &:last-child{
        background-image: url(/img/sectionbg2.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    &__info{
        max-height: 370px;
        max-width: 540px;
        background-color: #000000bb;
        overflow: hidden;
        padding: 50px 30px;
        margin: 10% 0 10% auto;

        &--left{
            margin: 10% auto 10% 0;
        }
    }

    &__btn{
        display: inline-block;
        text-align: center;
        padding: 15px;
        min-width: 220px;
        min-height: 60px;
        background-color: $brand-color;
        text-decoration: none;
        color: #fff;
        font-family: 'Aleo',sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        border: 3px solid transparent;
    }  
}

.footer {
    margin: 0;
    height: 100vh;
    background-image: url(/img/footerbg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #232323;
    
    &__title{
        margin: 0 auto;
        padding: 10%;
        text-align: center;
    }
    &__subtitle{
        display: flex;
        background-color: #333;
    }
    &__foto{
        min-height: 280px;
    }
    &__name {
       outline: 1px solid red;
    }     
}