@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700&display=swap');
@import 'normalize';
@import 'mixins';

* {
    box-sizing: border-box;
}

$brand-color: #5474fd;

html {
    height: 100%;
    font-size: 10px;
    padding: 15px;
    background-color: #999;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    font-size: 2rem;
    color: #fff;
    font-family: 'Josefin Sans' ,sans-serif;
    font-size: 1.6rem;
    line-height: 1.8em;
    margin-bottom: 15px;
}

header{
    background-color: $brand-color;
    height: 99vh;
    font-size: 0;
    position: relative;
    display: flex;
    background-image: url(../img/bgheader.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 96%;
}

.title {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 25% 25px 1%;
    letter-spacing: 5px;
}

.subtitle{
    display: inline-block;
    width: 100%;
    padding: 1% 25px;
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 7px;
}

.forms {
    display: flex;
    width: 650px;
    max-width: 96%;
    align-items: center;
    background: #fff;
    padding: 1px;
    margin: 0 auto;
    height: 60px;

    &__search{
        display: flex;
        width: 100%;
        height: 100%;
    }
    &__input, &__button{
        display: inline-block;
        background: transparent;
        font-size: 1.6rem;
        color: #FFF;
        height: 100%;
        
    }
    &__input{
        border: 5px solid #Fff;
        padding-left: 15px;
        color: $brand-color;
        width: 70%;
        & {
            @include hover {
                opacity: .9;
                border-color: $brand-color;}
            }
        &::placeholder{
            content: '';
            text-align: center;
            color: #a2a2a2;
            display: inline-block;
        }
    }

    &__button{
        text-transform: uppercase;
        border: 2px solid transparent;
        background-color: $brand-color;
        margin: 0;
        padding: 0;
        font-family: "Aleo";
        font-size: 1.4rem;
        width: 30%;
        cursor: pointer;
        z-index: 2;
        @include hover{
        border: 2px solid white;

        }
        & span {
            text-align: right;
            padding: 20px 0 20px 30px;
            &:after{
                content: "\f002";
                font-family: FontAwesome;
                // font-size: 3.2rem;
                height: 100%;
                background-color: $brand-color;
                vertical-align: middle;
                padding: 20px;
            }
        }

        
    }
}
.scrool{
    display: inline-block;
    margin: 100px auto;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    font-size: 1.6rem;
    transform: scale(.9);
    color: #fff;
    text-align: center;
    @include hover{
        transform: scale(1);
    }
}       

.nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $brand-color;
    font-size: 1.4rem;
    & .container{
        width: 100%;
        height: 80px;
        justify-content: space-between;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
        
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 2.4rem;
        padding: 20px 20px 20px 20px ;
        flex-grow: 3
        
    }
    
    &__link{
        display: inline-block;
        margin-left: auto;
        height: 100%;
        font-family: 'Aleo' ,sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 20px;
        text-align: center;
    }
}


.main {
    background-image: url(../img/bgmain.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #333;
    padding: 120px 0 0 0;
    margin: 0;
    & .container{
        display: flex;
        justify-content: space-around;
    }
    &__text{
        width: 50%;
        padding: 80px 10px 10px;
        
    }
    &__title{
        font-size: 3.6rem;
        font-family: "Aleo", sans-serif;
        margin-bottom: 60px;
        font-weight: normal;
    }
    
    &__subtitle{
        max-height: 280px;
        overflow: hidden;
        font-size: 1.6rem;
        padding-bottom: 20px;
    }

    &__btn{
        display: inline-block;
        text-align: center;
        padding: 15px;
        min-width: 220px;
        min-height: 60px;
        background-color: $brand-color;
        text-decoration: none;
        color: #fff;
        font-family: 'Aleo',sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        border: 3px solid transparent;
    }
    
    &__imgs{
        padding: 20px;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    &__img{
        padding: 10px 0;        
        align-self: flex-start;
        &:last-child{
            align-self: flex-end;
        }
    }
  
    &__end{
        max-width: 1000px;
        margin: 2% auto 0;
        padding: 4% 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;    
        background-image: url(../img/main-endM.png);
        background-position: 46% 20px;
        background-repeat: no-repeat;
        background-size: 70%;
        
    }
    &__endblock{
        display: flex;
        flex-direction: column;
        
    }
    
    &__endimg{
        align-self: center;
        background-color: #333;
        // border-radius: 50%; кусок 3й картинки обрезает
        padding: 5px;
       height: 70px;
        align-items: center;
        
    }
    &__endtext{
        font-family: 'Aleo', sans-serif;
        font-size: 3.6rem;
        padding: 30px;
    }
}

.about{
    display: flex;
    background-image: url(../img/sectionbg1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    &:nth-of-type(odd){
        background-image: url(../img/sectionbg2.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    &__info{
        max-width: 540px;
        background-color: #000000bb;
        overflow: hidden;
        padding: 50px 30px;
        margin: 10% 0 10% auto;

        &--left{
            margin: 10% auto 10% 0;
        }
    }
    &__title{
        font-size: 20px;
        margin: 25px 0;
        text-transform: uppercase;
    }

    &__btn{
        display: inline-block;
        text-align: center;
        padding: 15px;
        min-width: 220px;
        min-height: 60px;
        background-color: $brand-color;
        text-decoration: none;
        color: #fff;
        font-family: 'Aleo',sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        border: 3px solid transparent;
    }  
}

.tourist {
    margin: 0;
    padding-bottom: 120px;
    background-image: url(../img/footerbg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232323;
    
    &__title{
        font-family: 'Aleo', serif;
        font-weight: normal;
        margin: 0 auto;
        padding: 100px 10%;
        text-align: center;
        font-size: 3.6rem;
    }
    &__block{
        display: flex;
        background-color: #333;
        justify-content: space-between;
    }
    &__foto{
        width: 32%;
    }
    &__text{
        width: 64%;
        padding: 10px;
    }
    &__name {
        text-transform: uppercase;
        font-size: 2.0rem;
        font-weight: normal;

    }
    &__q{
        font-family: 'Aleo', sans-serif;
        & .fa-quote-left{
            font-size: 3.6rem;
            color: $brand-color;
            margin: 0 10px 10px 0;
        }
    }     
}

.footer{
    padding: 110px auto 10px;
    padding-bottom: 40px;
    background-color: #232323;
    & .title{
        font-size: 2.4rem;    
        padding-top: 100px;
    }
    & .subtitle{
        font-size: 1.6rem;  
        padding: 10px 0;}
    &__links{
        display: inline-block;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: middle;
    }
    &__link svg{
        color: white;
        margin: 0 10px;
        width: 20px;
        height: 20px;
        text-align: center; 
    }
   
}